body {
    font-size: 16px;
    font-family:  'Oxygen', sans-serif;
    background-color: #61122f;
    color: #fff;
}

.navbar-brand {
    padding-top: 25px;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1 { /* Company name Food, LLC */
    font-size: 1.75em;
    color: #fff;
}

.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #2dd9d1;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

/* Button */
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
